# 1.Import Dependencies/Libs

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

import math
import datetime
import subprocess

# 2. Data Collection

## 2.1 Collecting Data

In [2]:
#who_covid_data:

who_covid_data = pd.read_csv('D:\Self-Learning Courses\Hands-on Projects\Data Analysis\Project 2 - COVID Situation Tracking\Covid Situation in Vietnam\data\owid-covid-data.csv')

who_covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92126,ZWE,Africa,Zimbabwe,5/25/2021,38706.0,10.0,15.857,1587.0,1.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92127,ZWE,Africa,Zimbabwe,5/26/2021,38819.0,113.0,29.571,1589.0,2.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92128,ZWE,Africa,Zimbabwe,5/27/2021,38854.0,35.0,31.286,1592.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92129,ZWE,Africa,Zimbabwe,5/28/2021,38918.0,64.0,36.286,1592.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92130,ZWE,Africa,Zimbabwe,5/29/2021,38933.0,15.0,36.286,1594.0,2.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

## 2.2 Data Cleaning

### TODO: 
- Filter to Vietnam COVID data
- Change all NULL DATA ( NaN) to -1
- Change date data to string
- Calculate some percentages

### 2.2.1. Filtering to Vietnamese Covid Data

In [12]:
#filter to vietnam covid data:

vnm_who = who_covid_data.loc[(who_covid_data['location'] == 'Vietnam') & (who_covid_data['iso_code'] =='VNM')]

vietnam_covid_data = vnm_who.loc[:,['date','total_cases','new_cases','total_deaths','new_deaths','positive_rate'] ]


#display vietnam_covid_situation:
vietnam_covid_data

,date,total_cases,new_cases,total_deaths,new_deaths,positive_rate
89791,5/29/2021,6908.0,512.0,47.0,0.0,NaN
89792,5/28/2021,6396.0,40.0,47.0,1.0,NaN
89793,5/27/2021,6356.0,270.0,46.0,1.0,NaN
89794,5/26/2021,6086.0,155.0,45.0,1.0,NaN
89795,5/25/2021,5931.0,527.0,44.0,0.0,NaN
...,...,...,...,...,...,...
90279,1/27/2020,2.0,0.0,NaN,NaN,NaN
90280,1/26/2020,2.0,0.0,NaN,NaN,NaN
90281,1/25/2020,2.0,0.0,NaN,NaN,NaN
90282,1/24/2020,2.0,0.0,NaN,NaN,NaN
90283,1/23/2020,2.0,2.0,NaN,NaN,NaN

### 2.2.2 Change Null Data to -1

In [13]:
vietnam_covid_data = vietnam_covid_data.fillna(-1.0)
vietnam_covid_data

,date,total_cases,new_cases,total_deaths,new_deaths,positive_rate
89791,5/29/2021,6908.0,512.0,47.0,0.0,-1.0
89792,5/28/2021,6396.0,40.0,47.0,1.0,-1.0
89793,5/27/2021,6356.0,270.0,46.0,1.0,-1.0
89794,5/26/2021,6086.0,155.0,45.0,1.0,-1.0
89795,5/25/2021,5931.0,527.0,44.0,0.0,-1.0
...,...,...,...,...,...,...
90279,1/27/2020,2.0,0.0,-1.0,-1.0,-1.0
90280,1/26/2020,2.0,0.0,-1.0,-1.0,-1.0
90281,1/25/2020,2.0,0.0,-1.0,-1.0,-1.0
90282,1/24/2020,2.0,0.0,-1.0,-1.0,-1.0
90283,1/23/2020,2.0,2.0,-1.0,-1.0,-1.0

### 2.2.3 Change date to String

In [8]:
#vietnam_covid_data['date'].astype(str)

89791    5/29/2021
89792    5/28/2021
89793    5/27/2021
89794    5/26/2021
89795    5/25/2021
           ...
90279    1/27/2020
90280    1/26/2020
90281    1/25/2020
90282    1/24/2020
90283    1/23/2020
Name: date, Length: 493, dtype: object

### 2.2.4 Separate data to Arrays

In [17]:
total_cases = vietnam_covid_data['total_cases'].unique()

covid_dates = vietnam_covid_data['date'].astype(str).unique()

list_of_cases = []
list_of_days = []

for date in covid_dates:
    list_of_days.append(date)
for case in total_cases:
    list_of_cases.append(case)

5/29/2021
5/28/2021
5/27/2021
5/26/2021
5/25/2021
5/24/2021
5/23/2021
5/22/2021
5/21/2021
5/20/2021
5/19/2021
5/18/2021
5/17/2021
5/16/2021
5/15/2021
5/14/2021
5/13/2021
5/12/2021
5/11/2021
5/10/2021
5/9/2021
5/8/2021
5/7/2021
5/6/2021
5/5/2021
5/4/2021
5/3/2021
5/2/2021
5/1/2021
4/30/2021
4/29/2021
4/28/2021
4/27/2021
4/26/2021
4/25/2021
4/24/2021
4/23/2021
4/22/2021
4/21/2021
4/20/2021
4/19/2021
4/18/2021
4/17/2021
4/16/2021
4/15/2021
4/14/2021
4/13/2021
4/12/2021
4/11/2021
4/10/2021
4/9/2021
4/8/2021
4/7/2021
4/6/2021
4/5/2021
4/4/2021
4/3/2021
4/2/2021
4/1/2021
3/31/2021
3/30/2021
3/29/2021
3/28/2021
3/27/2021
3/26/2021
3/25/2021
3/24/2021
3/23/2021
3/22/2021
3/21/2021
3/20/2021
3/19/2021
3/18/2021
3/17/2021
3/16/2021
3/15/2021
3/14/2021
3/13/2021
3/12/2021
3/11/2021
3/10/2021
3/9/2021
3/8/2021
3/7/2021
3/6/2021
3/5/2021
3/4/2021
3/3/2021
3/2/2021
3/1/2021
2/28/2021
2/27/2021
2/26/2021
2/25/2021
2/24/2021
2/23/2021
2/22/2021
2/21/2021
2/20/2021
2/19/2021
2/18/2021
2/17/2021
2/16/2021
2/15/2021
2/14/2021
2/13/2021
2/12/2021
2/11/2021
2/10/2021
2/9/2021
2/8/2021
2/7/2021
2/6/2021
2/5/2021
2/4/2021
2/3/2021
2/2/2021
2/1/2021
1/31/2021
1/30/2021
1/29/2021
1/28/2021
1/27/2021
1/26/2021
1/25/2021
1/24/2021
1/23/2021
1/22/2021
1/21/2021
1/20/2021
1/19/2021
1/18/2021
1/17/2021
1/16/2021
1/15/2021
1/14/2021
1/13/2021
1/12/2021
1/11/2021
1/10/2021
1/9/2021
1/8/2021
1/7/2021
1/6/2021
1/5/2021
1/4/2021
1/3/2021
1/2/2021
1/1/2021
12/31/2020
12/30/2020
12/29/2020
12/28/2020
12/27/2020
12/26/2020
12/25/2020
12/24/2020
12/23/2020
12/22/2020
12/21/2020
12/20/2020
12/19/2020
12/18/2020
12/17/2020
12/16/2020
12/15/2020
12/14/2020
12/13/2020
12/12/2020
12/11/2020
12/10/2020
12/9/2020
12/8/2020
12/7/2020
12/6/2020
12/5/2020
12/4/2020
12/3/2020
12/2/2020
12/1/2020
11/30/2020
11/29/2020
11/28/2020
11/27/2020
11/26/2020
11/25/2020
11/24/2020
11/23/2020
11/22/2020
11/21/2020
11/20/2020
11/19/2020
11/18/2020
11/17/2020
11/16/2020
11/15/2020
11/14/2020
11/13/2020
11/12/2020
11/11/2020
11/10/2020
11/9/2020
11/8/2020
11/7/2020
11/6/2020
11/5/2020
11/4/2020
11/3/2020
11/2/2020
11/1/2020
10/31/2020
10/30/2020
10/29/2020
10/28/2020
10/27/2020
10/26/2020
10/25/2020
10/24/2020
10/23/2020
10/22/2020
10/21/2020
10/20/2020
10/19/2020
10/18/2020
10/17/2020
10/16/2020
10/15/2020
10/14/2020
10/13/2020
10/12/2020
10/11/2020
10/10/2020
10/9/2020
10/8/2020
10/7/2020
10/6/2020
10/5/2020
10/4/2020
10/3/2020
10/2/2020
10/1/2020
9/30/2020
9/29/2020
9/28/2020
9/27/2020
9/26/2020
9/25/2020
9/24/2020
9/23/2020
9/22/2020
9/21/2020
9/20/2020
9/19/2020
9/18/2020
9/17/2020
9/16/2020
9/15/2020
9/14/2020
9/13/2020
9/12/2020
9/11/2020
9/10/2020
9/9/2020
9/8/2020
9/7/2020
9/6/2020
9/5/2020
9/4/2020
9/3/2020
9/2/2020
9/1/2020
8/31/2020
8/30/2020
8/29/2020
8/28/2020
8/27/2020
8/26/2020
8/25/2020
8/24/2020
8/23/2020
8/22/2020
8/21/2020
8/20/2020
8/19/2020
8/18/2020
8/17/2020
8/16/2020
8/15/2020
8/14/2020
8/13/2020
8/12/2020
8/11/2020
8/10/2020
8/9/2020
8/8/2020
8/7/2020
8/6/2020
8/5/2020
8/4/2020
8/3/2020
8/2/2020
8/1/2020
7/31/2020
7/30/2020
7/29/2020
7/28/2020
7/27/2020
7/26/2020
7/25/2020
7/24/2020
7/23/2020
7/22/2020
7/21/2020
7/20/2020
7/19/2020
7/18/2020
7/17/2020
7/16/2020
7/15/2020
7/14/2020
7/13/2020
7/12/2020
7/11/2020
7/10/2020
7/9/2020
7/8/2020
7/7/2020
7/6/2020
7/5/2020
7/4/2020
7/3/2020
7/2/2020
7/1/2020
6/30/2020
6/29/2020
6/28/2020
6/27/2020
6/26/2020
6/25/2020
6/24/2020
6/23/2020
6/22/2020
6/21/2020
6/20/2020
6/19/2020
6/18/2020
6/17/2020
6/16/2020
6/15/2020
6/14/2020
6/13/2020
6/12/2020
6/11/2020
6/10/2020
6/9/2020
6/8/2020
6/7/2020
6/6/2020
6/5/2020
6/4/2020
6/3/2020
6/2/2020
6/1/2020
5/31/2020
5/30/2020
5/29/2020
5/28/2020
5/27/2020
5/26/2020
5/25/2020
5/24/2020
5/23/2020
5/22/2020
5/21/2020
5/20/2020
5/19/2020
5/18/2020
5/17/2020
5/16/2020
5/15/2020
5/14/2020
5/13/2020
5/12/2020
5/11/2020
5/10/2020
5/9/2020
5/8/2020
5/7/2020
5/6/2020
5/5/2020
5/4/2020
5/3/2020
5/2/2020
5/1/2020
4/30/2020
4/29/2020
4/28/2020
4/27/2020
4/26/2020
4/25/2020
4/24/2020
4/23/2020
4/22/2020
4/21/2020
4/20/2020
4/19/2020
4/18/2020
4/17/2020
4/16/2020
4/15/2020
4/14/2020
4/13/2020
4/12/2020
4/11/2020
4/10/2020
4/9/2020
4/8/2020
4/7/2020
4/6/2020
4/5/2020
4/4/2020
4/3/2020
4/2/2020
4/1/2020
3/31/2020
3/30/2020
3/29/2020
3/28/2020
3/27/2020
3/26/2020
3/25/2020
3/24/2020
3/23/2020
3/22/2020
3/21/2020
3/20/2020
3/19/2020
3/18/2020
3/17/2020
3/16/2020
3/15/2020
3/14/2020
3/13/2020
3/12/2020
3/11/2020
3/10/2020
3/9/2020
3/8/2020
3/7/2020
3/6/2020
3/5/2020
3/4/2020
3/3/2020
3/2/2020
3/1/2020
2/29/2020
2/28/2020
2/27/2020
2/26/2020
2/25/2020
2/24/2020
2/23/2020
2/22/2020
2/21/2020
2/20/2020
2/19/2020
2/18/2020
2/17/2020
2/16/2020
2/15/2020
2/14/2020
2/13/2020
2/12/2020
2/11/2020
2/10/2020
2/9/2020
2/8/2020
2/7/2020
2/6/2020
2/5/2020
2/4/2020
2/3/2020
2/2/2020
2/1/2020
1/31/2020
1/30/2020
1/29/2020
1/28/2020
1/27/2020
1/26/2020
1/25/2020
1/24/2020
1/23/2020

### 2.2.5 Calculate Percentages + Adding new Attributes

## 2.3 Displaying Final Data

## 3. Data Visualisation

### 3.1 Show the cases by dates: