# 1.Import Dependencies/Libs

In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

import math
import datetime
import subprocess

# 2. Data Collection

## 2.1 Collecting Data

In [6]:
#who_covid_data:

who_covid_data = pd.read_csv('data\owid-covid-data.csv')

who_covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92126,ZWE,Africa,Zimbabwe,5/25/2021,38706.0,10.0,15.857,1587.0,1.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92127,ZWE,Africa,Zimbabwe,5/26/2021,38819.0,113.0,29.571,1589.0,2.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92128,ZWE,Africa,Zimbabwe,5/27/2021,38854.0,35.0,31.286,1592.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92129,ZWE,Africa,Zimbabwe,5/28/2021,38918.0,64.0,36.286,1592.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92130,ZWE,Africa,Zimbabwe,5/29/2021,38933.0,15.0,36.286,1594.0,2.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

## 2.2 Data Cleaning

### TODO: 
- Filter to Vietnam COVID data
- Change all NULL DATA ( NaN) to -1
- Change date data to string
- Calculate some percentages

### 2.2.1. Filtering to Vietnamese Covid Data

In [7]:
#filter to vietnam covid data:

vnm_who = who_covid_data.loc[(who_covid_data['location'] == 'Vietnam') & (who_covid_data['iso_code'] =='VNM')]

vietnam_covid_data = vnm_who.loc[:,['date','total_cases','new_cases','total_deaths','new_deaths','positive_rate'] ]


#display vietnam_covid_situation:
vietnam_covid_data

,date,total_cases,new_cases,total_deaths,new_deaths,positive_rate
89791,5/29/2021,6908.0,512.0,47.0,0.0,NaN
89792,5/28/2021,6396.0,40.0,47.0,1.0,NaN
89793,5/27/2021,6356.0,270.0,46.0,1.0,NaN
89794,5/26/2021,6086.0,155.0,45.0,1.0,NaN
89795,5/25/2021,5931.0,527.0,44.0,0.0,NaN
...,...,...,...,...,...,...
90279,1/27/2020,2.0,0.0,NaN,NaN,NaN
90280,1/26/2020,2.0,0.0,NaN,NaN,NaN
90281,1/25/2020,2.0,0.0,NaN,NaN,NaN
90282,1/24/2020,2.0,0.0,NaN,NaN,NaN
90283,1/23/2020,2.0,2.0,NaN,NaN,NaN

### 2.2.2 Change Null Data to -1

In [8]:
vietnam_covid_data = vietnam_covid_data.fillna(-1.0)
vietnam_covid_data

,date,total_cases,new_cases,total_deaths,new_deaths,positive_rate
89791,5/29/2021,6908.0,512.0,47.0,0.0,-1.0
89792,5/28/2021,6396.0,40.0,47.0,1.0,-1.0
89793,5/27/2021,6356.0,270.0,46.0,1.0,-1.0
89794,5/26/2021,6086.0,155.0,45.0,1.0,-1.0
89795,5/25/2021,5931.0,527.0,44.0,0.0,-1.0
...,...,...,...,...,...,...
90279,1/27/2020,2.0,0.0,-1.0,-1.0,-1.0
90280,1/26/2020,2.0,0.0,-1.0,-1.0,-1.0
90281,1/25/2020,2.0,0.0,-1.0,-1.0,-1.0
90282,1/24/2020,2.0,0.0,-1.0,-1.0,-1.0
90283,1/23/2020,2.0,2.0,-1.0,-1.0,-1.0

### 2.2.3 Change date to String

In [9]:
# vietnam_covid_data['date'] = vietnam_covid_data['date'].astype(str)

### 2.2.5 Modifying Table + Calculate some values

In [37]:

# split date columns into month, day, year
vietnam_covid_data[['month','day','year']] = vietnam_covid_data['date'].str.split('/', expand = True)

#drop date + day column, we just need month and year for later process
vietnam_covid_data = vietnam_covid_data.drop(['date','day'],axis = 1)
vietnam_covid_data

,total_cases,new_cases,total_deaths,new_deaths,positive_rate,month,year
89791,6908.0,512.0,47.0,0.0,-1.0,5,2021
89792,6396.0,40.0,47.0,1.0,-1.0,5,2021
89793,6356.0,270.0,46.0,1.0,-1.0,5,2021
89794,6086.0,155.0,45.0,1.0,-1.0,5,2021
89795,5931.0,527.0,44.0,0.0,-1.0,5,2021
...,...,...,...,...,...,...,...
90279,2.0,0.0,-1.0,-1.0,-1.0,1,2020
90280,2.0,0.0,-1.0,-1.0,-1.0,1,2020
90281,2.0,0.0,-1.0,-1.0,-1.0,1,2020
90282,2.0,0.0,-1.0,-1.0,-1.0,1,2020
90283,2.0,2.0,-1.0,-1.0,-1.0,1,2020

In [72]:

# table data for first graph:
first_visualize_data = vietnam_covid_data.drop(['total_cases','total_deaths','new_deaths','positive_rate'],axis=1)
first_visualize_data = first_visualize_data.groupby(by=['year','month']).sum()

### 2.2.4 Separate data to some arrays

## 2.3 Displaying Final Data

In [71]:
# BELOW ARE ALL NAMES OF FINAL DATA:
first_visualize_data

            new_cases
year month
2020 1            2.0
     10          86.0
     11         167.0
     12         118.0
     2           14.0
     3          196.0
     4           58.0
     5           58.0
     6           27.0
     7          203.0
     8          486.0
     9           50.0
2021 1          352.0
     2          631.0
     3          155.0
     4          325.0
     5         3980.0

## 3. Data Visualisation

### 3.1 Show the cases by dates: